:root {
  /* Colors */
  --test: #fafafa;
  --white: #fff;
  --blue-light: #1eb4ff;
  --blue-dark: #00aaff;
  --gray-light: #7b909a;
  --blue-facebook: #3b5998;
  --green-whatsapp: #25d366;
  --orange-instagram: #dc2743;
  --button-blue: #1e73be;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

@media (max-width: 43rem) {
  p {
    font-size: 1.2rem;
  }
}

body {
  background-color: var(--test);
}

a {
  color: var(--blue-light);
  text-decoration: none;
}

i {
  font-size: 3.6rem;
}

a:hover {
  color: var(--blue-dark);
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.6rem;
}

.divider {
  margin-right: 4rem;
  margin-left: 4rem;
  text-align: center;

  background-color: lightgray;
  border-color: lightgray;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 996;
  background: var(--blue-light);
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 2.8rem;
  color: var(--white);
  line-height: 0;
}
.back-to-top:hover {
  background: var(--blue-dark);
  color: var(--white);
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.section-title h2 {
  padding: 3rem 0;
  font-size: 3.2rem;
  font-weight: 400;
}
.section-title p {
  margin-bottom: 0;
}

@media (max-width: 43rem) {
  .section {
    padding: 0.5rem 0;
  }

  .section-title h2 {
    font-size: 2.4rem;
    padding: 2rem 0;
  }
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 76.8rem) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 7.2rem;
  transition: all 0.5s;
  z-index: 997;
  background: transparent;
}

#header.header-scrolled {
  background: var(--test);
  box-shadow: 0rem 0.2rem 1.5rem rgba(0, 0, 0, 0.1);
}

#header.header-scrolled .mobile-nav-toggle {
  color: #364146;
}

.header p {
  font-size: 2rem;
  color: var(--gray-light);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  perspective: 100rem;
  overflow: hidden;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('../img/omnie2.png');
  background-size: cover;
  background-position: center;
  animation: scale 2s 0.5s forwards;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  margin-top: 5rem;
}
.banner-bottom {
  margin-top: 45rem;
}

.banner h1 {
  font-size: 5rem;
  color: var(--white);
  animation: moveBanner 1s 0.5s forwards;
}
.banner h2 {
  font-size: 4rem;
  color: var(--white);
  animation: moveBanner 1s 0.5s forwards;
}

.banner h3 {
  font-size: 3rem;
  color: var(--white);
  animation: moveBanner 1s 0.5s forwards;
}
.banner h4 {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  animation: moveBanner 1s 0.5s forwards;
}

.banner p {
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin-bottom: 1rem;
  animation: moveBanner 1s 0.7s forwards;
}

.banner button {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 6rem;
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  animation: moveBanner 1s 0.9s forwards;
}

.btn-primary:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.banner button a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

@keyframes moveBanner {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

@media (max-width: 120rem) {
  .banner {
    margin-top: 1.5rem;
  }
  .banner-bottom {
    margin-top: 40rem;
  }
}
@media (max-width: 43rem) {
  .banner {
    margin-top: 1.5rem;
  }
  .banner-bottom {
    margin-top: 30rem;
  }
  .banner h1 {
    font-size: 3.3rem;
    text-align: center;
    text-wrap: nowrap;
    letter-spacing: 0.1rem;
  }
  .banner h2 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--white);
    animation: moveBanner 1s 0.5s forwards;
  }
  .banner h3 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    animation: moveBanner 1s 0.5s forwards;
  }
  .banner h4 {
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    animation: moveBanner 1s 0.5s forwards;
  }

  .banner button {
    width: calc(100% - 8rem);
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 2rem;
    border-radius: 5rem;
  }

  .banner p {
    text-align: center;
    font-size: 1.5rem;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#form {
  min-height: 95vh;
}
.contact .php-email-form {
  width: 100%;
  padding: 0rem 2rem;
}

.contact .php-email-form .error-message {
  display: none;
  color: var(--white);
  background: #ed3c0d;
  text-align: left;
  padding: 1.5rem;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 2.5rem;
}
.contact .php-email-form .sent-message {
  display: none;
  color: var(--white);
  background: #18d26e;
  text-align: center;
  padding: 1.5rem;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: var(--white);
  text-align: center;
  padding: 1.5rem;
}
.contact .php-email-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem -0.6rem 0;
  border: 0.3rem solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-control {
  height: 4rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: none;
  background-color: var(--test);
  border-color: rgba(0, 0, 0, 0.1);
  padding-left: 2rem;
}
.form-check-input[type='checkbox'] {
  display: inline-block;
  min-height: 2rem;
  min-width: 2rem;
}

.contact .php-email-form label {
  color: #111112;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

.contact .php-email-form button[type='submit'] {
  border: 0;
  padding: 1rem 2.4rem;
  color: #fff;
  transition: 0.4s;
  border-radius: 5rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}
.contact .php-email-form button[type='submit']:hover {
  background: #1eb4ff;
}

.cover-img {
  width: 50rem;
  height: 50rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  overflow: hidden;
  min-height: 5vh;
}

.footer i {
  color: var(--button-pink);
  font-size: 1.5rem;
  padding-right: 0.4rem;
}

.footer a {
  color: var(--gray-light);
  font-size: 1.5rem;
}
